/* Main Wrapper */
.popup-parent {
  padding: 50px 10px;
  // background:white;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  .popup-cont {
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.158);
    box-shadow: var(--shadow);
    padding: 20px;
    height: fit-content;

    .heading-box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      flex-direction: column;
      position: relative;
      gap: 20px;
      padding: 20px;
      .heading {
        color: white;
      }
      .button-group {
        display: flex;
        gap: 20px;
        .new-no {
          background: transparent;
          border: none;
          color: transparent;
        }
      }
      .new-button {
        position: absolute;
        bottom: 20px;
        right: 100px;
      }
    }
  }
}
